body {
    background: #E5E5E5;
}

.register__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin-top: 5%;
}

.h2 {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    color: #224957;
}

.gray {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #224957;
    padding-bottom: 20px;
}

.gray a {
    text-decoration: none;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #224957;
}

.gray a:hover {
    text-decoration: none;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: black;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #224957;
    border-radius: 10px;
    color: white;
    margin-bottom: 32px;
    border: 1px solid #224957;
    width: 300px;
    height: 42px;
    padding-left: 10px;
}
#submit{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #224957;
    border: 1px solid #20DF7F;
    cursor: pointer;
    width: 310px;
}
#submit:hover{

    background:  #224957;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #20DF7F;
    border: 1px solid #224957;
}