:root{
    --main--font--family: 'Lexend Deca';
    --main--color--green:  #20DF7F;
    --main--color--blue: #224957;
    --main--color--white: white;
}
.main{
    margin-top: 40px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;

    border-radius: 12px;
    padding-top: 40px;
    padding-bottom: 30px;
    background:#F4F4F4;

}
body{
    margin: 0 auto;
}
.error{
    text-align: center;
    padding: 10%;
}
.active{
    display: flex;
    flex-direction: column;
}
.plus{
    padding: 10px 35px;
    border-radius: 10px;
    border: 1px solid var(--main--color--green);
    background: var(--main--color--blue);
    color: var(--main--color--green);
    cursor: pointer;

}
.plus:hover{
    background: var(--main--color--white);
    color: black;
    cursor: pointer;
}
.todo{
    width: 70%;
}
.header__buttons{
    display: flex;
    justify-content: flex-end;
}
.task{
    width: 200px;
    color: var(--main--color--white);
}
.send{
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid var(--main--color--white);
    background: var(--main--color--blue);
    color: var(--main--color--white);
    cursor: pointer;
}
.send:hover{
    background: var(--main--color--white);
    color: dodgerblue;
    cursor: pointer;
}
.items{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputs{
    display: flex;
    align-items: center;
}
.check{
    margin-bottom: 0;
    margin-right: 20px;
    padding: 10px;
    width: 18px;
    height: 22px;
}
.delete{
    font-family: var(--main--font--family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: var(--main--color--green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: var(--main--color--blue);
    border: 1px solid var(--main--color--green);
    cursor: pointer;
    padding: 10px;
}
.delete:hover{
    background: var(--main--color--white);
    color: black;
}
